$white: #ffffff;
$black: #000000;
//Red
$red: #d72e2e;
//dark grey
$dark-grey-1: #414b57;
$dark-grey-2: #565656;
$dark-grey-3: #515A64;
//medium greys
$medium-grey-1: #696969;
$medium-grey-2: #62717D;
$medium-grey-3: #697886;
$medium-grey-4: #6c747d;
//light greys
$light-grey-1: #e7e7e7;
$light-grey-2: #eaebec;
$light-grey-3: #9da2a8;
$light-grey-4: #d7d7d7;
//blue
$blue-1: #157DB9;
$blue-2: #1270cd;

// z-index-scale
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 7;
$z-index-8: 8;
$z-index-9: 9;