@import '../../scss/required.scss';

.hccf-card-body__comments-body {
    line-height: 1.4;
    margin-bottom: 4px;
    :not(:last-child) {
        margin-bottom: 10px;
    }
}

.hccf-card-body__comments-title {
    color: $medium-grey-4;
    text-align: left;
    margin: 5px 0 0 0;
}