#==========================================================================
# See http://help.github.com/ignore-files/ for more about ignoring files  #
#==========================================================================

# Ignore compiled output
/build

# Ignore dependencies
/node_modules

# Ignore IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Ignore IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore misc
/.sass-cache
/coverage/*
/documentation
npm-debug.log
/.env

# Ignore system files
.DS_Store
.eslintcache
Thumbs.db
*.tgz
*.iml
*.swp
